apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
apiServerExtraArgs:
  enable-admission-plugins: NodeRestriction,PodSecurityPolicy
kubernetesVersion: v{{ kubernetes_version }}
apiServerCertSANs:
- "{{ hostvars[groups['k8s-apiserver-lb'][0]].lb_ip }}"
controlPlaneEndpoint: "{{ hostvars[groups['k8s-apiserver-lb'][0]].lb_ip }}:{{ hostvars[groups['k8s-apiserver-lb'][0]].lb_port }}"
etcd:
  local:
    extraArgs:
      listen-client-urls: "https://127.0.0.1:2379,https://{{ ansible_default_ipv4.address }}:2379"
      advertise-client-urls: "https://{{ ansible_default_ipv4.address }}:2379"
      listen-peer-urls: "https://{{ ansible_default_ipv4.address }}:2380"
      initial-advertise-peer-urls: "https://{{ ansible_default_ipv4.address }}:2380"
      initial-cluster: "{{ ansible_hostname }}=https://{{ ansible_default_ipv4.address }}:2380"
    serverCertSANs:
    - {{ ansible_hostname }}
    - {{ ansible_default_ipv4.address }}
    peerCertSANs:
    - {{ ansible_hostname }}
    - {{ ansible_default_ipv4.address }}
networking:
  podSubnet: "{{ cni_cidr }}"
---
apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
nodeRegistration:
  criSocket: /var/run/containerd/containerd.sock
